<app-headers></app-headers>
<br><br><br><br><br><br>

<div  style="width: 400px; margin-left: 450px;" align=center>
    <form (ngSubmit)="insertNotes()">
            
       

        <div class="form-group">
            <label for="name">Course</label>
            <select class="form-control" id="courseId"  required [(ngModel)]="crsid" name="courseId">
           
              <option *ngFor="let o of coptions" value={{o.courseId}}>
              {{o.courseName}}
            </option>
            </select>
          </div>

          <div class="form-group" align=center>
            <label for="name">Notes Link</label>
            <input type="text" class="form-control" align=center id="examLink" [(ngModel)]="nts.noteLink" name="noteLink" required>
          </div>

  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

