<app-headers></app-headers>
<br><br><br><br>



<div  style="width: 400px; margin-left: 450px;" align=center>
    <form (ngSubmit)="updateAssignment()">
      
        <div class="form-group" align=center>
            <label for="name">Assignment ID</label>
            <input type="number" class="form-control" align=center id="examId" required readonly [(ngModel)]="asn.assignNo" name="dailyId">
          </div>
        <div class="form-group">
          <label for="name">Assignment Name</label>
          <input type="text" class="form-control" id="subjectName" required [(ngModel)]="asn.assignName" name="subjectName">
        </div>
          
          <div class="form-group" align=center>
              <label for="name">AssignmentLink Link</label>
              <input type="text" class="form-control" align=center id="examLink" required [(ngModel)]="asn.assignLink" name="examLink" required>
            </div>
  
          <div class="form-group" align=center>
              <label for="name">Date Of Submission</label>
              <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd hh:mm:ss" align=center id="startTime" required [(ngModel)]="asn.DateOfSubmission" name="startDateTime"  [min]="todayDate" required>
            </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
