<app-headerss></app-headerss>
<br><br><br><br><br><br>

<a href="/stdexamschedule"><img src="../../../assets/img/exam.jpg" width="200" 
    height="100" alt="" style=" margin-top:25px; margin-left:35px;"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/stdnotes"><img src="../../../assets/img/notes.jpg" width="200" 
    height="150" alt=""  ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/stdassignment"><img src="../../../assets/img/assignment.jpg" width="200" 
    height="150" alt=""  ></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    

 <a href="/stddailyschedule"><img src="../../../assets/img/dailyschedule.png" width="200" 
    height="150" alt="" ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/stdclassroom"><img src="../../../assets/img/classroom.jpg" width="200" 
    height="150" alt=""></a>


