<app-headerss></app-headerss>

<br><br><br><br>

<div class="panel panel-primary">
  <div class="panel-heading" align=center>
    <h2>Assignments</h2>
  </div>
  <div class="panel-body" style="width: 400px; margin-left: 450px;" align=center>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>AssignName</th>
          <th>Date Of Submission</th>
          <th>Link(Google Class Room)</th>
          <th>Subject Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asgn of assignments">
          <td>{{asgn.assignName}}</td>
          <td>{{asgn.DateOfSubmission}}</td>
          <td><a href="http://{{asgn.assignLink}}" target="_blank">http://{{asgn.assignLink}}</a></td>
          <td>{{asgn.subname.subjectName}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
 

</div>

