<app-headers></app-headers>
<br><br><br><br><br><br>

<a href="/examschedule"><img src="../../../assets/img/exam.jpg" width="200" 
    height="100" alt="" style=" margin-top:25px; margin-left:35px;"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/notes"><img src="../../../assets/img/notes.jpg" width="200" 
    height="150" alt=""  ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/assignment"><img src="../../../assets/img/assignment.jpg" width="200" 
    height="150" alt=""  ></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    

 <a href="/dailyschedule"><img src="../../../assets/img/dailyschedule.png" width="200" 
    height="150" alt="" ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="/classroom"><img src="../../../assets/img/classroom.jpg" width="200" 
    height="150" alt=""></a>

