<app-headerss></app-headerss>
<br><br><br><br>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
  <div class="container">
    <h2>About Us</h2>
    <p>Welcome to IACSD!</p>
  </div>
</div><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>About Us</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2  aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <img src="../../../assets/img/course-details.jpg" class="img-fluid" alt="">
         <br><br>
          <img src="../../../assets/img/course-3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Institute for Advanced Computing and Software Development (IACSD)
            </h3>
          <p class="font-italic">
            It is the outcome of visionary mission of Dr. D. Y. Patil, Founder President of Dr. D. Y. Patil Pratishthan.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> To nurture and develop skilled manpower in the field of IT and Electronics.</li>
            <li><i class="icofont-check-circled"></i>To impart courses with practical-centric approach.</li>
            <li><i class="icofont-check-circled"></i>To provide quality and latest information in the field of technology.</li>
            <li><i class="icofont-check-circled"></i> The core strength of the institute lies in the dynamic management team, excellent infrastructure,
            experienced and qualified faculties who have been trained to deliver the latest and most advanced technological knowledge
            to the students. Industry experts visit our institute from time to time and deliver lectures.</li>
            <li><i class="icofont-check-circled"></i>The Institute is also involved in other activities such as software solutions, product development, 
              network services etc, which supports the IT industry. </li>
           
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>
         
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


   <!-- ======= Counts Section ======= -->
   <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1232</span>
          <p>Students</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">64</span>
          <p>Courses</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">42</span>
          <p>Events</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">15</span>
          <p>Trainers</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

