<app-header></app-header>
<br><br><br><br><br><br>

<!-- <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css"> -->


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,
        <br>Leading Tomorrow</h1><br><br><br><br><br>
      <h2>Welcome to IACSD's Online Portal</h2><br>
      <a href="/login" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->


 


  
    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="../../../assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">PG-DVLSI</a></h5>
                <p class="font-italic text-center"></p>
                <p class="card-text"  style="text-align:justify">The dynamic curriculum of VLSI fits perfectly with 
                  the career aim of working professionals, graduate and post graduate
                   students and helps them to ‘future-proof’ themselves and remain relevant
                    for the rapidly evolving Semiconductor technology.PG-DVLSI course focus
                     on the following:
                     
                    <br>
    To provide rigorous foundation in MOS and CMOS digital circuits, System Building Blocks and FPGA architecture and train the students in transistor budgets, clock speeds and the growing challenges of power consumption and productivity
    <br>Understand behavioral and RTL modelling of digital circuits,  design combinational and sequential circuits using Verilog HDL
    <br> Verify and design the digital circuit by means of Computer Aided Engineering tools which involves in programming with the help of Verilog HDL
    <br>To simulate, synthesize, and program the designs on a development board.
    <br>To verify that a design meets its timing constraints, both manually and through the use of computer aided design tools
    <br>Gain the ability to analyze, design, and implement VLSI Systems. Learn to apply modern skills, techniques, and industry tools to create VLSI Circuits and Systems
   To undertake industrial research projects for the development of future solutions  in the domain of Verilog Scale Integration to make an impact in the technological advancement
                  </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="../../../assets/img/events-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">PGDAC</a></h5>
                <p class="font-italic text-center" id="date"></p>
                <p class="card-text" style="text-align:justify">The Post Graduate Diploma in Advanced Computing 
                  (PG-DAC) is the flagship programme of ACTS. The course is targeted 
                  towards engineers and IT professionals who wish to venture into the 
                  domain of advanced computing. The course aims to groom the students 
                  to enable them to work on current technology scenarios as well as 
                  prepare them to keep pace with the changing face of technology and the
                   requirements of the growing IT industry. The course curriculum has 
                   been designed keeping in view the emerging trends in advanced 
                   computing as well as the contemporary and futuristic human resource 
                   requirements of the ICT industry. The entire course syllabus, course
                    ware, teaching methodology and the course delivery have been derived 
                    from the rich research and development background of C-DAC. The depth 
                    and width of the course is unique in the industry covering a wide 
                    spectrum of requirements of the ICT industry. Running successfully for 
                    more than twenty seven years, PG-DAC course has yielded more than quarter 
                    million students, who are well positioned in the industry today.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->


<p  style="text-align:justify">IACSD Akurdi is an Authorized Training Centre of C-DAC ACTS<br>
  Centre for Development of Advanced Computing (C-DAC) is the premier R&D organization of the Ministry of Electronics and Information Technology (MeitY) for carrying out R&D in IT, Electronics and associated areas. Different areas of C-DAC, had originated at different times, many of which came out as a result of identification of opportunities.
  <br><font color="green"> <b> ✓</b> </font> The setting up of C-DAC in 1988 itself was to built Supercomputers in context of denial of import of Supercomputers by USA. Since then C-DAC has been undertaking building of multiple generations of Supercomputer starting from PARAM with 1 GF in 1988.
  <br> <font color="green">  <b> ✓</b> </font>  Almost at the same time, C-DAC started building Indian Language Computing Solutions with setting up of GIST group (Graphics and Intelligence based Script Technology); National Centre for Software Technology (NCST) set up in 1985 had also initiated work in Indian Language Computing around the same period.
  <br><font color="green">  <b> ✓</b> </font>  Electronic Research and Development Centre of India (ER&DCI) with various constituents starting as adjunct entities of various State Electronic Corporations, had been brought under the hold of Department of Electronics and Telecommunications (now MeitY) in around 1988. They were focusing on various aspects of applied electronics, technology and applications.
  
</p>