<app-headerss></app-headerss>
<br><br><br><br><br><br>

<div class="panel panel-primary"  align="center">
  <div class="panel-heading" id="component2">
    <h2>Course List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="excel-table" style="width:800px;">
      <thead>
        <tr>
          <th>Course Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crs of courses">
          <td>{{crs.courseName}}</td>
         
        </tr>
      </tbody>
    </table>
  </div>
 
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
